body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.intro{
    display: flex;
    padding-top: 70px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}
.border{
    border-left: 3px solid rgb(13, 225, 233);
    border-color: rgb(9, 199, 206);
    
}
.intro-text h1{
    font-size: 40px;
    text-transform: capitalize;
    padding-left: 5px;
}
.text-color {
    color: cadetblue;
}
.btn{
    padding: 15px 25px;
    color: #FFFFFF;
    background-color: #5F9EA0;
    border: none;
    border-radius: 5px;
    font-size: 20px;

}
.goal{
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 80px 100px;
}
.mission-title .mission-color{
    color: rgb(42, 11, 0);
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}
.mission-title .mission-color .missionyear-color{
    color: darkslategrey;
}
.mission {
    box-shadow: 10px 10px 40px gray;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(183, 255, 255);
}
.mission img{
    width: 30%;
    height: auto;
}
.vission{
    box-shadow: 10px 10px 40px gray;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(156, 107, 177);
}
.vission img{
    width: 30%;
    height: auto;
}
.goals{
    box-shadow: 10px 10px 40px gray;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(230, 191, 173);
}
.goals img{
    width: 30%;
    margin: auto;
}
.develop-area{
    display: flex;
}
.global-community {
    display: flex;
}
.community-text h1{
    font-size: 30px;
}

.subscrib-text h1{
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}
.subscrib-text p{
    text-align: center;
}
.subscrib-form{
    width: 50%;
    margin: auto;
}
.subscrib-form input[type=text], input[type=email], input[type=password]{
    width: 100%;
    display: inline-block;
}
.subscrib-btn{
    margin: 20px 0;
}
.footer-area{
    background-color: rgb(20, 4, 4);
    padding: 50px 0;
}
.footer-area h1{
    color: honeydew;
    text-align: center;
}
.footer-area .footer-2022{
    color: lightsalmon;
}
.footer-area p{
    color: linen;
    text-align: center;
}